.hover {
    display: flex;
    height: 20rem;
    gap: 1rem;
}
 .hover > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s 
    cubic-bezier(.25,.4, .45, 1.4);
       filter: grayscale(100%);
 }
 .hover > div:hover {
    flex: 5
    
    ;
 filter: grayscale(0%);
 }
